body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 90px;
}
.profile-pic{
    width: 400px;
    height: 500px;
}
.banner-content{
    max-width: 500px;
}
.banner-title{
    font-size: 55px;
    font-weight: 600;
}
.banner-info{
    font-size: 17px;
    font-weight: 400;
    margin-top: -14px;
}
.btn-primary{
    background-color: #E55473;
    color: #FFF;
    padding: 7px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
/* .......main section style........ */
.our-flower{
   padding: 90px;
   margin: 10px 130px;
    
}
.section-title{
    text-align: center;
    font-size: 55px;
    font-weight: 600;
}
.section-description{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
   margin-top: -23px;
}
/*...... our flower..... */
.card{
    width:250px;
    height: 300px;
    border-radius:120px 120px 0px 0px;
}
#card-1{
    background-color: #f3ccd4;
}
#card-2{
    background-color: #e2eced;
}
#card-3{
    background-color: #bbbfb7;
}
.cards-container{
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-left: 287px;
    gap: 15px;
}
.card img{
    width: 170px;
    height: 230px;
    padding: 15px 30px;
    margin-top: 53px;
}
.flower-info{
    text-align: center;
    font-size: 17px;
}
.flower-info a{
    color: black;
}
/* .....hot deal section...... */
.hot-deal{
    background-color: #fcb2c2;
    margin-top: 80px;
}
.deal-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px;
    padding: 0px 30px 0px 30px;
   
}
.off{
    color: #E55473;
}
.deal-img img{
    width: 318px;
    height: 420px;
}
.deal-content{
    width: 500px;
    height: 218px;
    text-align: center;
}
.deal-info{
    font-size: 15px;
    color: black;
}
#deal-btn{
    font-size: 13px;
    padding: 10px 20px;
}
/* ....instagram section... */
#instagram{
    margin-top: -100px;
}
.insta-cards{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 500px;
    margin-left: 120px;
    margin-top: -60px;
 
}
.insta-card img{
    width: 200px;
}
/* ......latest deal..... */
.latest-deal{
    background-image: url('/image/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 114px;
    border-radius: 5px;
}
.latest-deal-form{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.deal-title{
    font-size: 30px;
    font-weight: 800;
}
.deal-text{
    font-size: 17px;
    font-weight: 400;
    margin-top: -22px;
}
input{
    background-color: #FFF;
    padding: 9px 5px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 270px;
    border-radius: 5px;
}
/* .....footer style...... */
footer{
    background-color: black;
    color: white;
    height: 300px;
    text-align: center;
    padding: 30px 90px;
}
.Flower{
    color: #E55473;
}
footer h3{
    font-size: 40px;
    font-weight: 600;
}
.footer-info{
    font-size: 15px;
    margin: -30px 140px;
}
.copyright{
    margin-top: 40px;
    font-size: 10px;
}
