body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 90px;
}
.profile-pic{
    width: 400px;
    height: 500px;
}
.banner-content{
    max-width: 500px;
}
.banner-title{
    font-size: 55px;
    font-weight: 600;
}
.banner-info{
    font-size: 17px;
    font-weight: 400;
    margin-top: -14px;
}
.btn-primary{
    background-color: #E55473;
    color: #FFF;
    padding: 7px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
/* .......main section style........ */
.our-flower{
   padding: 90px;
   margin: 10px 130px;
    
}
.section-title{
    text-align: center;
    font-size: 55px;
    font-weight: 600;
}
.section-description{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
   margin-top: -23px;
}
/*...... our flower..... */
.card{
    width:250px;
    height: 250px;
    border-radius:120px 120px 0px 0px;
}
#card-1{
    background-color: #E55473;
}
#card-2{
    background-color: #0597A0;
}
#card-3{
    background-color: #477D11;
}
.cards-container{
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-left: 287px;
    gap: 15px;
}
.card img{
    width: 170px;
    height: 230px;
    padding: 15px 30px;
}
.flower-info{
    text-align: center;
    font-size: 17px;
}
.flower-info a{
    color: black;
}


